<h1>張貼工作</h1>
<div class="new_job_form">
  <%= simple_form_for @job do |f| %>
    <%= f.input :name, required: true, label: "工作職稱" %>
    <%= f.input :skill_id, collection: @skills, label_method: :name, value_method: :id, required: true, label: "技能", include_blank: false %>
    <%= f.input :is_fulltime, collection: [["實習", "0"], ["正職", "1"]], required: true, label: "職缺類別", include_blank: false %>
    <%= f.input :description, required: true, label: "工作內容" %>
    <%= f.input :requirement, required: true, label: "工作需求" %>
    <%= f.input :link, label: "相關網站" %>
    <div class="row">
      <div class="large-2 columns"><span>薪資範圍：</span></div>
      <div class="large-2 columns"><%= f.input :salary_from, required: true, label: false, placeholder: "月薪最低" %></div>
      <div class="large-2 columns"> ~ </div>
      <div class="large-2 columns"><%= f.input :salary_to, required: true, label: false, placeholder: "月薪最高" %></div>
      <div class="large-2 columns"><span>年薪可達：</span></div>
      <div class="large-2 columns"><%= f.input :annual_salary, required: true, label: false %></div>
    </div>
    <%= f.input :how_to_apply, required: true, label: "應徵方式" %>
    <%= f.button :submit, "張貼工作" %>
  <% end %>
</div>
