<ul>
  <li><%= @job.name %></li>
  <li><%= @job.description %></li>
  <li><%= @job.requirement %></li>
  <li><%= @job.updated_at %></li>
  <li><%= @job.link %></li>
  <li><%= number_to_currency(@job.annual_salary) %></li>
</ul>