<%= job_type(@job) %>
<h1><%= @job.name %></h1>
<div class="job_show_canvas">
  <div class="large-9 columns">
    <h4>工作描述：</h4>
    <p><%= @job.description %></p>
    <h4>工作需求：</h4>
    <p><%= @job.requirement %></p>
    <h4>月薪範圍：</h4>
    <p><%= number_to_currency(@job.salary_from) %> ~ <%= number_to_currency(@job.salary_to) %></p>
    <h4>年薪可達：</h4>
    <p><%= number_to_currency(@job.annual_salary) %></p>
    <h4>相關連結：</h4>
    <a href="<%= @job.link %>"><%= @job.link %></a>
    <h4>應徵方式：</h4>
    <%= @job.how_to_apply %>
  </div>
  <div class="large-3 columns">
    <h4>公司名稱:<%= link_to(@job.company_name, company_path(@job.company_id))  %>&nbsp;<i class="fa fa-external-link"></i></h4>
    <h5>更新時間:<%= @job.updated_at.strftime("%F") %></h5>
  </div>  
</div>
