<h1>編輯公司資料</h1>
<div class="account_canvas">
  <%= simple_form_for @company do |f| %>
    <%= f.input :name, label: "公司名稱" %>
    <%= f.input :address, label: "公司地址" %>
    <%= f.input :phone, label: "聯絡電話" %>
    <%= f.association :industry, label: "產業類別", include_blank: false %>
    <%= f.input :opinion, label: "給參與社運朋友的話" %>
    <%= f.button :submit, "完成", class: "button right"%>
  <% end %>
</div>
