<div class="large-12 columns">
<h1><%= @company.name %></h1>
  <div class="company_cover">    
    <h5>公司地址:<%= @company.address %></h5>
    <h5>聯絡電話:<%= @company.phone %></h5>
    <h5>產業類別:<%= @company.industry_name %></h5>
  </div>
  <div class="large-9 columns">
    <%= render partial: "jobs/jobs_board" %>
    <%= paginate @jobs %>
    </div>
  </div>
</div>
