<div class="large-12 columns">
<h1><%= @company.name %></h1>
  <div class="company_cover">
    
    <h5>公司地址:<%= @company.address %></h5>
    <h5>聯絡電話:<%= @company.phone %></h5>
    <h5>產業類別:<%= @company.industry_name %></h5>
  </div>
  <div class="large-9 columns">
    <div class="content">
      <% @jobs.each do |job|%>
        <div class="content">
          <div class="large-3 columns">
            <h2 class="job_title"><%= link_to(job.name, job_path(job))%></h2>
          </div>
        </div>
      <% end %>
      <%= paginate @jobs %>
    </div>
  </div>
</div>
