<div class="sticky">
  <nav class="top-bar" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to("來來來徵才網", root_path)  %></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="has-dropdown">
          <a href="#">產業分類</a>
          <ul class="dropdown">
            <% @industries.each do |industry| %>
              <li><%= link_to(industry.name, industry_path(industry))  %></li>
            <% end %>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#">技能分類</a>
          <ul class="dropdown">
            <% @skills.each do |skill| %>
              <li><%= link_to(skill.name, skill_path(skill))  %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    <ul class="right">
      <li><%= link_to("關於我們", about_path) %></li>
      <% if current_company %>
        <li><%= link_to("張貼工作", new_job_path)  %></li>
        <li><%= link_to("登出", destroy_company_session_path, method: :delete)  %></li>
      <% else %>
        <li>
          <%= link_to("註冊", new_company_registration_path) %>
        </li>
        <li>
          <%= link_to("登入", new_company_session_path)  %>
        </li>
      <% end %>
    </ul>
    </section>
  </nav>
</div>